---
layout: default
title: "Finnlen: Organic Textiles Blog"
---

<!-- <div style="display: none;" class="row">
  <div class="unit">
    <h1>Articles</h1>
  </div>
</div> -->

  <div class="grid">
    <div class="grid-sizer"></div>
    
    <div class="grid-item">
      <p>Test Test</p>
      <p>Test Test</p>
    </div>
    <div class="grid-item">
      <p>Test Test</p>
      <p>Test Test</p>
    </div>
    <div class="grid-item">
      <p>Test Test</p>
      <p>Test Test</p>
    </div>
      
    <!--  
    {% for post in site.posts limit:8 %}
        <div class="grid-item">
          <article>
            <label>{{ post.category }}</label>
            {% if post.featureimg %}
              <img src="{{ post.featureimg }}" alt="{{ post.featureimgalt }}">
            {% endif %}
            <a href="{{ post.url }}">
              <h2>{{ post.title }}</h2>
            </a>
            <p>{{ post.content }}</p>
          </article>
        </div>
    {% endfor %}
    -->
    
  </div>

<!-- <div class="row">
  <div class="unit">
    <span class="pagination"><a href="{{ site.baseurl }}/archive">Archive</a></span>
  </div>
</div> -->