<div class="row footer">  
  <div class="unit size2of12">
    <h5>Info</h5>
    <ul class="footer-list">
      <li>Sign Up For Email</li>
      <li>Rewards</li>
    </ul>
  </div>
  
  <div class="unit size2of12">
    <h5>Help</h5>
    <ul class="footer-list">
      <li>Order Status</li>
      <li>Shipping</li>
      <li>Returns</li>
      <li>Payment Options</li>
      <li>Contact Us</li>
    </ul>
  </div>
  
  <div class="unit size2of12">
    <h5>Social</h5>
  </div>
</div>

<div class="row">
  <div class="unit">
    <p class="label">&copy; 2017 Finnlen</p>
  </div>
</div>