<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }}</title>

  <script src="https://use.typekit.net/qhh0vms.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>

  <link rel="stylesheet" href="{{ "/css/vendor/mld-framework.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/site.css" | prepend: site.baseurl }}">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" href="{{ "/img/favicon.png" | prepend: site.baseurl }}" />
	<meta property="og:title" content="{{ page.title }}">
	
	{% if page.featureimg %}
		<meta property="og:image" content="{{ page.featureimg | prepend: site.baseurl }}">
	{% else %}
		<meta property="og:image" content="{{ "/img/og-image.png" | prepend: site.baseurl }}">
	{% endif %}

</head>

<body>
  
  {% include header.html %}

  {{ content }}

  {% include sustainable-hero.html %}
  
  {% include footer.html %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ "/js/jquery.nav.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/imagesLoaded.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/masonry.js" | prepend: site.baseurl }}"></script>
  
  <script>
    
		window.onload = function() {
				var $grid = $('.grid').imagesLoaded( function() {
					
					$('.grid').masonry({
						itemSelector: '.grid-item',
						columnWidth: '.grid-sizer',
						percentPosition: true
					});
				});
		}
    
  </script>

</body>
</html>